<h1 mat-dialog-title>Add Tourist Spot</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="data.spot.Name">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Image:</mat-label>
      <input matInput placeholder="Insert image Url" [(ngModel)]="data.spot.Image" >
  </mat-form-field>
<mat-form-field>
  <mat-label>Description:</mat-label>
  <input matInput [(ngModel)]="data.spot.Description" >
</mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add Spot</button>
</div>