<h1 mat-dialog-title>Add Tourist Spot</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="data.spot.Name">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Image:</mat-label>
      <input matInput placeholder="Insert image Url" [(ngModel)]="data.spot.Image" >
  </mat-form-field>
<mat-form-field>
  <mat-label>Description:</mat-label>
  <input matInput [(ngModel)]="data.spot.Description" >
</mat-form-field>
<mat-form-field appearance="fill" style="margin-top: 20%;">
  <mat-label>Region</mat-label>
  <mat-select [(value)]="data.spot.Region">
    <mat-option *ngFor="let region of regions" [value]="region.Id">
      {{region.Name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<p>Categories</p>
<ul>
  <li *ngFor='let category of categories'>
    <mat-checkbox (change)="onCategoryClick($event.checked,category.Id)">
      {{category.Name}}
    </mat-checkbox>
  </li>
</ul>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add Spot</button>
</div>