<h1 mat-dialog-title>Choose an importer and the file route</h1>
<div mat-dialog-content style="height: 100%;">
    <mat-selection-list #importers [multiple]="false">
        <mat-list-option *ngFor="let importer of data.importers" [value]="importer.id">
          <mat-icon mat-list-icon>note</mat-icon>
          {{importer.importer}}
        </mat-list-option>
      </mat-selection-list>
      <p></p>
      <mat-form-field>
        <mat-label>File route</mat-label>
        <input matInput  type="text" [(ngModel)]="fileName">
      </mat-form-field>

      <mat-dialog-actions align="end">
        <div *ngIf="importers.selectedOptions.selected[0]?.value != undefined">
          <button mat-button (click)="onImport(importers.selectedOptions.selected[0]?.value)">Import</button>
        </div>
        <div *ngIf="importers.selectedOptions.selected[0]?.value == undefined">
          <mat-error>Enter an importer type</mat-error>
          <button mat-button disabled (click)="onImport(importers.selectedOptions.selected[0]?.value)">Import</button>
          </div>
      </mat-dialog-actions>
      
</div>