<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <ng-container *ngIf="userLoggued.isLoggued then adminFeatures"></ng-container>
    <ng-template #adminFeatures>
      <button class="button" routerLink="accommodation-search/1" mat-icon-button  aria-label="Toggle sidenav">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add Users</a>
      </button>
    </ng-template>

    <div class="buttons">
      <button class="button" routerLink="spot-search" mat-icon-button  aria-label="Toggle sidenav">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tourist Spot Search</a>
      </button>
      <div class="loginForm">
        <ng-container *ngIf="userLoggued.isLoggued then ok; else fail"></ng-container>
        <ng-template #ok>
          <a>You are now logged as: {{Username.value}}</a>
          <label>
            <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="logout($event)">
              Logout
            </button>
          </label>
        </ng-template>
        <ng-template #fail>
          <!--focus para ir mostrando errores basicos-->
          <label>
            Username:
            <input type="text" [formControl]="Username">
          </label>
          <label>
            Password:
            <input type="text" [formControl]="Password">
          </label>

          <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="login($event)">
            Login
          </button>
        </ng-template>
      </div>
    </div>
  </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>