<form>
  <mat-card class="shipping-card">
    <mat-card-header>
      <h1 class="title">{{spot.Name}}</h1>
      
      <mat-form-field class="date">
        <mat-label>Starting Date</mat-label>
        <input matInput [matDatepicker]="picker1" [value]="startingDate"
        (dateInput)="changeStartingDate($event)" (dateChange)="changeStartingDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date">
        <mat-label>Finishing Date</mat-label>
        <input matInput [matDatepicker]="picker2" [value]="finishingDate"
        (dateInput)="changeFinishingDate($event)" (dateChange)="changeFinishingDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <p>Adults</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="addAdult()">
            +
          </button>
          <p>{{adultQuantity}}</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="removeAdult()">
            -
          </button>
        </div>
      </section>
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <p>Retired</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="addRetired()">
            +
          </button>
          <p>{{retiredQuantity}}</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="removeRetired()">
            -
          </button>
        </div>
      </section>
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <p>Children</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="addChild()">
            +
          </button>
          <p>{{childrenQuantity}}</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="removeChild()">
            -
          </button>
        </div>
      </section>
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <p>Baby</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="addBaby()">
            +
          </button>
          <p>{{babyQuantity}}</p>
          <button class="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="removeBaby()">
            -
          </button>
        </div>
      </section>
      

    </mat-card-header>
    <mat-card-content>
      
      
  
      <h2 class="subtitle">Complete the fields to start searching!</h2>

    </mat-card-content>
  </mat-card>
</form>