<form>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{spot.Name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>accommodation-search works!</p>
      <p>{{spot.Id}} and {{spot.Name}} and {{spot.Description}}</p>
      
      <mat-form-field>
        <mat-label>Starting Date</mat-label>
        <input matInput [matDatepicker]="picker1" [value]="startingDate.value">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Finishing Date</mat-label>
        <input matInput [matDatepicker]="picker2" [value]="finishingDate.value">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  
      <p>{{startingDate.value}} and {{finishingDate.value}}</p>

    </mat-card-content>
  </mat-card>
</form>