<div class="tool-bar">
    <app-tool-bar></app-tool-bar>
</div>
<div class="main-component">
  <div class="background"></div>
    <router-outlet></router-outlet>
    <ngx-spinner bdColor="rgba(255,255,255,0.6)">
        <img class="spinner" width="450" src="assets/images/spinner.png" />
        <p
          style="
            color: #490443;
            font-size: 60px;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          "
        >
          Loading...
        </p>
      </ngx-spinner>
</div>
