<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container *ngIf="isLoggued then adminFeatures"></ng-container>
      <ng-template #adminFeatures>
        <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="updateMenu(1)">
          Add Users
        </button>
      </ng-template>

      <div class="buttons">
        <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="updateMenu(0)">
          Tourist Spot Search
        </button>

        <div class="loginForm">
          <ng-container *ngIf="isLoggued then ok; else fail"></ng-container>
          <ng-template #ok>
            <a>You are now logged as: {{Username.value}}</a>
            <label>
              <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="logout()">
                Logout
              </button>
            </label>
          </ng-template>
          <ng-template #fail>
            <!--focus para ir mostrando errores basicos-->
            <label>
              Username:
              <input type="text" [formControl]="Username">
            </label>
            <label>
              Password:
              <input type="text" [formControl]="Password">
            </label>

            <button class="button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="login()">
              Login
            </button>
          </ng-template>
        </div>

      </div>
    </mat-toolbar>

    <body>
      <div [ngSwitch]='menuType'>
        <div *ngSwitchCase='0' class="main-component"><app-spot-search></app-spot-search></div>
        <div *ngSwitchDefault>{{menuType.toString()}} and {{isLoggued}} and {{Username.value}} and {{Password.value}}</div>
      </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>