.button {
    background-color: #180311;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 100%;
  }
  
  .button:hover {
    background-color: #c110d8; /* Green */
    color: white;
  } 