<div class="table-container mat-elevation-z8">
  <table mat-table #table [dataSource]="accommodations">


    <ng-container matColumnDef="spot">
      <th mat-header-cell *matHeaderCellDef> Spot Id </th>
      <td mat-cell *matCellDef="let accommodation"> {{accommodation.touristSpotId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let accommodation"> {{accommodation.name}} </td>
    </ng-container>

    <ng-container matColumnDef="isAvailable">
      <th mat-header-cell *matHeaderCellDef> Is Available </th>
      <td mat-cell *matCellDef="let accommodation"> {{accommodation.available}} </td>
    </ng-container>

    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let accommodation">
        <button mat-flat-button class="button" (click)="changeAvailability(accommodation)">
          <a>Change Availability</a>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let accommodation">
        <button mat-flat-button class="button" (click)="deleteAccommodation(accommodation.id)">
          <a>Delete Accomodation</a>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="add-accommodation-button">
  <button mat-flat-button class="button" (click)="addAccommodationAppear()">
    <a>Add Accomodation</a>
  </button>
</div>