<h1 mat-dialog-title>Modify User ({{data.Id}})</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="data.Name" [formControl]="notEmptyUser" required>
    <mat-error *ngIf="notEmptyUser.invalid || data.Name.trim().length == 0">{{getErrorMessageUser()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="data.Password" [formControl]="notEmptyPassword" required [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="notEmptyPassword.invalid || data.Password.trim().length == 0">{{getErrorMessagePass()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <div *ngIf="buttonEnabled()">
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>
<div *ngIf="!buttonEnabled()">
  <button mat-button disabled [mat-dialog-close]="data" cdkFocusInitial>Add</button>
  <div *ngIf="!buttonEnabled()">
    <mat-error>Enter non empty values to modify</mat-error>
  </div>