
.categories {
    list-style-type: none;
    margin-top: 4px;
  }

  .spot-card {
      margin: 5%;
    max-width: 400px;
  }

  .container {
    float: left;
  }
  
  .button {
    background-color: #180311;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 31%;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 50%;
  }
  
  .button:hover {
    background-color: #c110d8;
    color: white;
  } 

  .sidenav-container {
    position: sticky;
  }
  