<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" style="margin-top:64px">

    <mat-form-field appearance="fill" style="margin-top: 20%;">
      <mat-label>Region</mat-label>
      <mat-select [(value)]="selectedRegion" (selectionChange)="getSpots()">
        <mat-option *ngFor="let region of regions" [value]="region.Id">
          {{region.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p style="margin-left: 5%;">Categories</p>
    <ul>
      <li *ngFor='let category of categories'>
        <mat-checkbox (change)="onCategoryClick($event.checked,category.Id)">
          {{category.Name}}
        </mat-checkbox>
      </li>
    </ul>

    </mat-sidenav>


    <mat-sidenav-content>
      <mat-grid-list cols="2" rowHeight="2:1"  *ngFor="let spot of spots">
        <mat-card class="spot-card">
          <mat-card-header>
            <mat-card-title>{{spot.Name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{spot.Image}} alt="Photo of {{spot.Name}}">
          <mat-card-content>
            <p>
              {{spot.Description}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-list>
    </mat-sidenav-content>

</mat-sidenav-container>